{% extends "tasks/layout.html" %}

{% block body %}

    <div class="admin_panel">
        <div>
            <h2><strong>CREATE AND ASSIGN NEW TASK</strong></h2>
            <div class="new_task">
                <form action="{% url 'add_assign_task' %}" method="post">
                    {% csrf_token %}
                    {{ task_form}}
                    <button type="submit" id="submit_button">Submit</button>
                </form>
            </div>
        </div>

        <div class="all_tasks_div">
            <div id="heading_tasks">
                <div id="left"><h2 id="unfinished"><strong>UNFINISHED TASKS</strong></h2></div>
                <div id="right"><h2 id="finished"><a href="{% url 'index' %}"><strong class="hidden">FINISHED TASKS</strong></a></h2></div>
            </div>
            <div class="all_tasks">
                <table class="tasks_table" id="unfinished_table">
                    <tr>
                        <th>✓</th>
                        <th class="name">Name</th>
                        <th>Deadline</th>
                        <th>Priority</th>
                        <th>Assigned to</th>
                    </tr>
                    {% for task in unfinished_tasks %}
                        <tr>
                            <td class="checkbox" title="Mark as finished" content="{{ csrf_token }}">☐</td>
                            <td><span class="task_name" data-task-id="{{ task.id }}">{{ task.name }}</span></td>
                            <td class="deadline">{{ task.deadline }}</td>
                            <td class="priority">{{ task.priority }}</td>
                            <td>{{ task.assigned_to }}</td>
                        </tr>
                        <div class="myModal-container" id="modal-{{ task.id }}">
                            <div class="myModal">
                                <h1>{{ task.name }}</h1>
                                <p>Assigned by: {{ task.assigned_by }}</p>
                                {% if task.description %}
                                    <p>{{ task.description }}</p>
                                {% else %}
                                    <i>No description</i>
                                {% endif %}
                                <div>
                                    <button class="close" data-task-id="{{ task.id }}">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <tr>
                            <td colspan="6" style="text-align: center;">No tasks available</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="tasks_stats">
            <strong>GLOBAL STATISTICS</strong>
            <p>
            Finished: {{ stats_finished }} | 
            To be done: {{ stats_tbd }} 
            </p>
        </div>

    </div>
    

{% endblock %}