<div class="all_tasks" id="unfinished_div">
    <table class="tasks_table">
        <tr>
            <th>✓</th>
            <th class="name">Name</th>
            <th>Deadline</th>
            <th>Priority</th>
            {% if request.user.role == "Admin" %}
                <th>Assigned to</th>
            {% else %}
                <th>Assigned by</th>
            {% endif %}
        </tr>
        {% for task in unfinished_tasks %}
            <tr>
                <td class="checkbox" title="Mark as finished">☐</td>
                <td><span class="task_name" data-task-id="{{ task.id }}">{{ task.name }}</span></td>
                <td class="deadline">{{ task.deadline }}</td>
                <td class="priority">{{ task.priority }}</td>
                {% if request.user.role == "Admin" %}
                    <td><a href="{% url 'index_user' task.assigned_to.username %}">{{ task.assigned_to }}</a></td>
                {% else %}
                    <td>{{ task.assigned_by }}</td>
                {% endif %}            </tr>
            <div class="myModal-container" id="modal-{{ task.id }}">
                <div class="myModal">
                    <h1>{{ task.name }}</h1>
                    <p>Assigned by: {{ task.assigned_by }}<br>
                        Deadline: <span class="change_deadline" title="Change deadline">{{ task.deadline }}</span></p>
                    {% if task.description %}
                        <p>{{ task.description }}</p>
                    {% else %}
                        <i>No description</i>
                    {% endif %}
                    <div>
                        <button class="close" data-task-id="{{ task.id }}">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        {% empty %}
            <tr>
                <td colspan="5" style="text-align: center;">No tasks available</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="all_tasks" id="finished_div">
    <table class="tasks_table">
        <tr style="color: #dee2e6">
            <th>✓</th>
            <th class="name">Name</th>
            <th>Deadline</th>
            <th>Priority</th>
            {% if request.user.role == "Admin" %}
                <th>Assigned to</th>
            {% else %}
                <th>Assigned by</th>
            {% endif %}
        </tr>
        {% for task in finished_tasks %}
            <tr>
                <td class="checkbox" title="Mark as finished">▣</td>
                <td><span class="task_name" data-task-id="{{ task.id }}">{{ task.name }}</span></td>
                <td class="deadline">{{ task.deadline }}</td>
                <td class="priority">{{ task.priority }}</td>
                {% if request.user.role == "Admin" %}
                    <td><a href="{% url 'index_user' task.assigned_to.username %}">{{ task.assigned_to }}</a></td>
                {% else %}
                    <td>{{ task.assigned_by }}</td>
                {% endif %}
            </tr>
            <div class="myModal-container" id="modal-{{ task.id }}">
                <div class="myModal">
                    <h1>{{ task.name }}</h1>
                    <p>Assigned by: {{ task.assigned_by }}<br>
                        Deadline: {{ task.deadline }}</p>
                    {% if task.description %}
                        <p>{{ task.description }}</p>
                    {% else %}
                        <i>No description</i>
                    {% endif %}
                    <div>
                        <button class="close" data-task-id="{{ task.id }}">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        {% empty %}
            <tr>
                <td colspan="5" style="text-align: center;">No tasks available</td>
            </tr>
        {% endfor %}
    </table>
</div>