{% extends "tasks/layout.html" %}

{% block body %}

    <div class="new_user_main"> <!-- whole page-->

        <div class="left"> <!-- left div-->

            <div class="create"> <!-- upper left div -->
                <h2><strong>Create new user</strong></h2>
                <form action="{% url 'new_user' %}" method="post">
                    {% csrf_token %}
                    Username:<p></p><input required type="text" name="username">
                    <p></p>
                    Email:<p></p><input required type="email" name="email">
                    <p></p>
                    Password:<p></p><input required type="password" name="password">
                    <p></p>
                    Confirm password:<p></p><input required type="password" name="confirmation">
                    <p></p>
                    <button type="submit" id="submit_button">Create</button>
                </form>
            </div>
        </div>

        <div class="right"> <!-- right div-->
            <h2><strong>All users</strong></h2>
            <table class="tasks_table" style="width: 50%">
                <tr style="color: #dee2e6">
                    <th>Username</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td><a href="{% url 'index_user' user.username %}">{{ user.username }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="1" style="text-align: center;">No tasks available</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}