/* LOGIN PAGE DISPLAY */

#body_logged_out {
    margin: 20px;
}


/* GLOBAL */

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    margin-bottom: 5px;
}


/* INDEX - VIEW FOR USERS */
.navbar.navbar-expand-lg.navbar-dark {
    height: 80px;
    background-color: #30353a;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-collapse.collapse.show {
    height: 200px;
}


/* ADMIN PANEL */

.admin_panel {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    /* NEW TASK */

    .new_task {
        background-color: rgb(146, 111, 111);
        height: auto;
    }

    /* DISPLAY ALL TASKS */

    .all_tasks {
        margin-top: 20px;
        height: auto;
    }

    .tasks_table {
        width: 100%;
    }

    .tasks_table th {
        background-color: #1c1f22;
    }

    .tasks_table .name {
        width: 30%;
    }

    .tasks_table .checkbox:hover {
        cursor: pointer;
    }

    .task_name:hover {
        text-decoration: underline;
        cursor: pointer;
    }


    /* STATISTICS */

    .tasks_stats {
        margin-top: 20px;
    }