/* LOGIN PAGE DISPLAY */

#body_logged_out {
    margin: 20px;
}


/* GLOBAL */

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    margin-bottom: 5px;
}


/* INDEX - VIEW FOR USERS */
.navbar.navbar-expand-lg.navbar-dark {
    height: 80px;
    background-color: #30353a;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-collapse.collapse.show {
    height: 200px;
}


/* ADMIN PANEL */

.admin_panel {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.new_task {
    background-color: rgb(146, 111, 111);
    height: auto;
}

.all_tasks {
    background-color: rgb(117, 126, 76);
    height: 400px;
}

.tasks_stats {
    background-color: #37526d;
}